In [1]:
#import library yang dibutuhkan
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pickle

In [3]:
#load dataset dan hapus kolom Id
df = pd.read_csv('iris.csv')
# df.drop('Id',axis=1,inplace=True)

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
#pisahkan antara predictor dengan target
y_train = df['species']
X_train = df.drop('species',axis=1)

In [7]:
y_train.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [8]:
X_train.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
#tentukan model yang digunakan
#pada artikel ini menggunakan Random Forest
#bisa juga menggunakan model yang lain
model = RandomForestClassifier(n_estimators=100, random_state=2017)

In [10]:
#lihat nilai akurasi model menggunakan cross validasi
score = cross_val_score(model,X_train,y_train,cv=10)
score.mean()

0.9533333333333334

In [11]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=2017, verbose=0,
            warm_start=False)

In [13]:
with open('iris.pkl','wb') as f:
    pickle.dump(model,f)